<h1>My First project with Angular</h1>


<a href="http://www.breitenthaler.at" target="_blank">A weng Werbung</a>

<p id="senslessText">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
    accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
</p>
<button (click)="onButtonClick()">Button</button>

<p class="myClass">
    {{myWelcome}}
</p>

<ol>
    <li>Fist itme</li>
    <li>Second item</li>
    <li> <strong>Mani</strong> </li>
</ol>

<ul>
    <li>Second</li>
    <li>First</li>
    <li>Stone</li>
</ul>

<img src="https://www.trivium.org/sites/g/files/g2000005246/f/styles/album_image_style/public/201710/Trivium_Sin_1425_300_small.jpeg?itok=FIEuw5oo" width="200px">

<p></p>
